<link href="~/css/flexaccordion.css" rel="stylesheet" />

<div class="showcase">
    <div class="games">
        <div class="game">
            <h3>Hogwarts Legacy</h3>
        </div>
        <div class="game">
            <h3>The Legend of Zelda: Tears of the Kingdom</h3>
        </div>
        <div class="game">
            <h3>Call of Duty: Modern Warfare 3</h3>
        </div>
        <div class="game">
            <h3>Baldur's Gate 3</h3>
        </div>
        <div class="game">
            <h3>World of Warcraft: The War Within</h3>
        </div>
    </div>
</div>