<div class="p-5 rounded-1 mt-4 bg-body-tertiary rounded-3">
    <h1 class="fw-bold display-5">Alışveriş Sitesi</h1>
    <p class="lead text-danger fw-bold fs-4 ms-5">
        Güvenli alışverişin adresi
    </p>

   @*  <div class="showcase">
        <div class="games">
            <div class="game">
                <h3>Hogwarts Legacy</h3>
            </div>
            <div class="game">
                <h3>The Legend of Zelda: Tears of the Kingdom</h3>
            </div>
            <div class="game">
                <h3>Call of Duty: Modern Warfare 3</h3>
            </div>
            <div class="game">
                <h3>Baldur's Gate 3</h3>
            </div>
            <div class="game">
                <h3>World of Warcraft: The War Within</h3>
            </div>
        </div>
    </div> *@

</div>

<div class="row mt-5">
    <div class="col-3">

        <vc:categories></vc:categories>

    </div>

    <div class="col-9">

        @* TODO: Ürün kartları gösterilecek *@
        <vc:products category-id="@ViewBag.CategoryId"></vc:products>

    </div>

</div>