

<div>
    <div class="float-start"> <h2>Ürünler</h2> </div>
    <div class="float-end"> <a asp-controller="Product" asp-action="New" class="btn btn-warning">Yeni Ürün</a></div>
</div>

<div style="padding-top:75px">

    <table class="table">
        <thead>
            <tr>
                <th style="width:150px"></th>
                <th>Ürün Adı</th>
                <th>Birim Fiyatı</th>
                <th>Stok Miktarı</th>
                <th>Kategori</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        </tbody>


    </table>




</div>