<div class="row mt-5 fw-bold text-center text-light">

    <h1 style="font-size:30px">404</h1>

    <img class="mb-2" style="width:50%; display:block; margin-left:auto; margin-right:auto;" src="~/images/errors/404.gif"/>

    <p style="font-size:30px">Sayfa Bulunamadı</p>
    <p>Ana sayfaya gitmek için <a href="/">Buraya</a> tıklayabilirsin.</p>
</div>